*{
     margin: 0;
     box-sizing:border-box;
}

body {
   font-family:sans-serif;
   background-color: #E6FFFD;
}

h1{
     margin-top:2rem;
     text-align:center;
     color:black;
     font-size:3rem;
}

h2{
     font-size:1.5rem;
     color:black;
}

li{
     color:grey;
     font-size:1.3rem;
}

.instructions{
     margin:10% 25% 0 25%;
     background-color: black;
}

.instructions>h2{
     text-align: center;
}

.instructions>div>ul>li{
     color:white;
}

p{
     font-size:1.3rem;
     color:grey;
}

#ok{
     display: flex;
     margin-left:45%;
}

#contact-ok{
     display: flex;
     margin-left:35%;
}
.connect{
     color:red;
     font-size:1.5rem;
     font-weight:bold;
     letter-spacing:2px;
}

.container{
     margin:13% 20% 0 30%;
}

.contact-logo{
     display:inline-block;
     height: 250px;
     width:250px;
}

.dots{
     color:yellow;
     font-size:1.5rem;
     font-weight:bold;
     letter-spacing:2px;
}

.hr{
     align-items: center;
}

hr{
     border-color:#7F8487;
     border-width:5px;
     border-style:none;
     border-top-style:dotted;
     width:4%;
     margin:auto;
}

.connect-dots{
     height:5%;
     width: 5%;
}

.game-image{
     display:grid;
     justify-content:center;
     margin:2rem;
}

.game-title{
     display:inline;
     font-size:1.5rem;
     font-weight:bold;
     letter-spacing:2px;
     align-items:center;
}

.about{
     display:grid;
     height:40%;
     justify-content:center;
}

.menu a{
     color:white;
     cursor:pointer;
     padding: 10px 20px;
     text-decoration:none;
}

.main-body{
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-content:center;
     font-size: 1.5rem;
     height:40%;
}

.start-game{
     display:grid;
     grid-template-columns:1fr 1fr;
     justify-content: center;
    
}

.start-game>div{
     display:flex;
     margin-left:40px;
     height:50px;
     width: 500px;
}

.navbar{
     display: flex;
     box-shadow:5px 0px 5px grey;
     justify-content:space-between;
     color:black;
     background-color: #27374D;
     align-items: center;
     margin: 0;
     padding: 0 70px;
     height: 70px;
     width: 100%;
}


.start {
     background: #ff0000;
     background-image: -webkit-linear-gradient(top, #ff0000, #d90000);
     background-image: -moz-linear-gradient(top, #ff0000, #d90000);
     background-image: -ms-linear-gradient(top, #ff0000, #d90000);
     background-image: -o-linear-gradient(top, #ff0000, #d90000);
     background-image: linear-gradient(to bottom, #ff0000, #d90000);
     -webkit-border-radius: 28;
     -moz-border-radius: 28;
     border-radius: 28px;
     font-family: Arial;
     color: #354f30;
     font-size: 21px;
     padding: 10px 20px 10px 20px;
     text-decoration: none;
}
   
.start:hover {
     background: #ffff00;
     background-image: -webkit-linear-gradient(top, #ffff00, #d1d100);
     background-image: -moz-linear-gradient(top, #ffff00, #d1d100);
     background-image: -ms-linear-gradient(top, #ffff00, #d1d100);
     background-image: -o-linear-gradient(top, #ffff00, #d1d100);
     background-image: linear-gradient(to bottom, #ffff00, #d1d100);
     text-decoration: none;
}

.ok {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.ok:hover {
  background: #ffffff;
  text-decoration: none;
}
   